<div class="container">
  <div class="row">
    <div class="mx-auto">

      <section id="about-main">
        <div class="container">
          <h2 class="about-main-title">ながのCAKEについて</h2>
          <p class="abut-main-text">
            ながのCAKEは全国発送可能なケーキ屋<i class="fas fa-birthday-cake fa-spin"></i>さんです。<br>
            お子様からお年寄りの方までお召し上がりいただけるよう、<br>
            様々なバリエーションを誤用ししております。<br>
            また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
            ぜひご注文ください。
          </p>
        </div>
      </section>


       <!-- 次はアイコン -->
      <section id="contact">
        <div class="container">
          <h2 class="contact-title">Contact</h2>
          <p class="contact-text">
            お菓子を通じて、多くのお客様に笑顔をお届けしたい。
            <br>
          　　ながのCAKEでは「自然のおいしさと。人を想うおいしさと。」のスローガンのもと、
            <br>
            安全・安心なお菓子づくりに取り組んでいます。
            <br>
            もし商品に何か問題がありましたら、お手数ではありまうすが下記のいずれかまでお問い合わせください。
          </p>
          <div class="contact-box">
            <div class="contact-left">
              <h2 class="contact-left-title">Mail</h2>
              <p class="contact-left-text">nagano-cake@naganon.com</p>
              <h2 class="contact-left-title">Tell</h2>
              <p class="contact-left-text">000-0000-0000</p>
            </div>
            <div class="contact-right">
              <h2 class="contact-right-title">SNS</h2>
              <i class="fab fa-facebook" aria-hidden="true"></i>
              <i class="fab fa-twitter" aria-hidden="true"></i>
              <i class="fab fa-instagram" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </section>
    </main>


　　</div>
　</div>
</div>