<div class="container">
  <div class="row">
    <div class="mx-auto">

      <h2>管理者側　トップページ</h2>

      <br>
      <br>
      <h4>管理者<%= link_to "新規登録", new_admin_registration_path %></h4>
      <br>
      <h4>管理者<%= link_to "ログイン", new_admin_session_path %></h4>
　　</div>
　</div>
</div>