<% if obj.errors.any? %>
  <div class=error>
    <ul><h2 class=message>error</h2>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>